<form id="product_edit_form" class="p-3" method="post">
    <div class="form-group">
        <label for="">Product Id</label>
        <input type="text" name="product_id" class="form-control" readonly required>
        <small class="text-muted">*Mandatory</small>
    </div>
    <div class="form-group">
        <label for="">Product Name</label>
        <input type="text" name="name" class="form-control" required>
        <small class="text-muted">*Mandatory</small>
    </div>
    <div class="form-group">
        <label for="">HSN</label>
        <input type="text" name="hsn" class="form-control">
        <small class="text-muted">*Mandatory</small>
    </div>
    <div class="form-group">
        <label for="">Selling_cost / Unit</label>
        <input type="text" name="selling_cost" class="form-control" required>
        <small class="text-muted">*Mandatory</small>
    </div>
    <div class="form-group">
        <label for="">GST %</label>
        <select class="form-control" name="gst"></select>
        <small class="text-muted">*Mandatory</small>
    </div>
    <div class="form-group">
        <label for="">Bar Code Number</label>
        <input type="text" name="barcode" class="form-control">
        <small class="text-muted">*Non Mandatory</small>
    </div>
    <div class="form-group d-flex align-items-center justify-content-between">
        <button class="btn btn-danger" type="button" data-dismiss="modal" z-index="-1">Close</button>
        <button class="btn btn-primary">Save Changes</button>
    </div>
</form>
<script>
    $(document).on('submit', "#product_edit_form", function (e) {
        e.preventDefault(); // avoid to execute the actual submit of the form.

        $(this).find('button').attr('disabled', 'true');
        var form = $(this);

        console.log(form.serializeObject());

        data = {
            column: {
                name: $('[name="name"]').val(),
                hsn: $('[name="hsn"]').val(),
                selling_cost: $('[name="selling_cost"]').val(),
                gst_id: $('[name="gst"]').val(),
                barcode: $('[name="barcode"]').val(),
            },
            where: { id: $('[name="product_id"').val() }
        }
        $.ajax({
            type: "POST", url: './api/table.php?update=product&response', data: data, dataType: 'json'
        }).done(function (response) {
            console.log(response);
            if (response.query.status) {
                $('#input_modal .modal-body').prepend(b_alert('success', 'Task Successfully'));
                form.find('button').removeAttr('disabled');
                $('#input_modal').modal('hide');
            } else {
                $('#input_modal .modal-body').prepend(b_alert('danger', 'Operation Error !!! Task Failed, Try Again'));
            }
        }).fail(function () {
            $('#input_modal .modal-body').prepend(b_alert('danger', 'Connection Error !!! Try Again'));
        });
    });
</script>
<script>
    // this is the id of the form
    id = $('[data-edit-id]').attr('data-edit-id');
    $(document).ready(function () {

        $.ajax({
            type: "GET", url: './api/table.php?select=gst_slab', cache: false, async: false, dataType: 'json'
        }).done(function (response) {
            console.log(response)
            response.query.data.forEach(value => {
                $('[name="gst"]').append(`<option value="${value.id}">${value.tax_percent}% GST</option>`)

            });
            console.log(response); // show response from the php script.
        });

        $.ajax({
            type: "POST", url: './api/table.php?select=product', data: { where: { id: id } }, async: false, cache: false, dataType: 'json'
        }).done(function (response) {

            // product = JSON.parse(response.data);
            product = response.query.data[0];
            $('[name="product_id"]').val(product.id);
            $('[name="name"]').val(product.name);
            $('[name="hsn"]').val(product.hsn);
            $('[name="selling_cost"]').val(product.selling_cost);
            $('[name="gst"]').val(product.gst_id).change();
            $('[name="barcode"]').val(product.barcode);
            console.log(product); // show response from the php script.
        });


    })


</script>