<script>
    function autoTable(table_selector, query, skip_header, button_array) {
        $(table_selector).html('');

        $.ajax({ type: "GET", url: query, async: false, cache: false, dataType: 'json' })
            .done(function (response) {

                tableData = JSON.parse(response.data);
                // console.log(tableData);

                header_array = [];
                for (header in tableData[0]) {
                    header_array.push(header);
                }

                header_array = (header_array.filter(value => !skip_header.includes(value)))


                var table = document.querySelector(table_selector);
                var header = table.createTHead();
                var body = table.createTBody();
                var row = header.insertRow(0);

                // console.log(header_array);
                i = 0;
                header_array.forEach(header => {
                    var cell = row.insertCell(i);
                    cell.innerHTML = `<span class="text-capitalize font-weight-bold">${header}</span>`;
                    i++;
                })
                if (button_array.length > 0) {
                    var cell = row.insertCell(i);
                    cell.innerHTML = `<span class="text-capitalize font-weight-bold">Action</span>`;
                }

                for (row in tableData) {
                    i = 0;
                    for (col in tableData[row]) {
                        if (i == 0) {
                            $(table_selector + ' tbody').append($('<tr data-row-id="' + tableData[row][header_array[0]] + '">'));
                        }
                        if (tableData[row][header_array[i]] != null) {
                            // console.log(tableData[row][header_array[0]]);
                            if (i == 0) {
                                $(table_selector + ' tbody tr:eq(' + row + ')').append(`<td>${Number(row) + 1}</td>`);
                            } else {

                                $(table_selector + ' tbody tr:eq(' + row + ')').append(`<td>${tableData[row][header_array[i]]}</td>`);
                            }
                        }
                        i++;
                    }
                    if (button_array.length > 0) {
                        buttonHTML = "";
                        button_array.forEach(button => {
                            var search = button.match(/\$@(.*)@/);
                            if (search.length > 0) {
                                button = button.replace('$@' + search[1] + '@', tableData[row][search[1]]);
                            }
                            buttonHTML += button;
                        })
                        $(table_selector + ' tbody tr:eq(' + row + ')').append(`<td><div class="text-nowrap">${buttonHTML}</div></td>`);
                    }
                }

                $(table_selector + '').addClass('data-table');
                dt();
            })
    }


    function table_data() {

        autoTable('.table', './api/product_crud.php?crud=select', ['gst_id'], ['<button class="btn btn-warning btn-sm text-nowrap mr-1" data-product-edit-id="$@id@"><i class="fa fa-edit"></i> Edit</button>',
            '<button class="btn btn-danger btn-sm text-nowrap" data-product-delete-id="$@id@"><i class="fa fa-times"></i> Delete</button>'
        ]);

    }
</script>

<div class="container-fluid">
    <p class="h3 m-0">List Products</p>
    <hr>
    <div class="card">
        <div class="card-head p-3 d-flex align-items-center justify-content-between border-bottom">
            <p class="h5 m-0"><i class="fa fa-list-alt"></i> Product List</p>
            <div class="d-flex">
                <button class="btn btn-success mr-1" onclick="b_input_modal('Add Product', 'views/product/add.html')">Add Product</button>
                <button class="btn btn-primary" onclick="location.reload()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered"></table>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        table_data();

        $(document).on('click', '[data-product-edit-id]', function () {
            b_edit_modal($(this).attr('data-product-edit-id'), 'Edit Product', 'views/product/edit.html')
        })

        $(document).on('click', '[data-product-delete-id]', function () {
            if (confirm('Are Your Sure Your Want To Delete The Product')) {
                $.ajax({
                    type: "GET",
                    url: './api/product_crud.php?crud=delete&id=' + $(this).attr('data-product-delete-id'),
                    dataType: 'json',
                }).done(function (response) {
                    console.log(response); // show response from the php script.
                    if (response.deleted) {
                        table_data();
                    } else {
                        console.log('error');
                    }
                });
            }
        })
    })

</script>