<script>
    function table_data() {

        autoTable('.table', './api/product_crud.php?crud=select&desc', ['gst_id'], ['<button class="btn btn-warning btn-sm text-nowrap mr-1" data-product-edit-id="$@id@"><i class="fa fa-edit"></i> Edit</button>',
            '<button class="btn btn-danger btn-sm text-nowrap" data-product-delete-id="$@id@"><i class="fa fa-times"></i> Delete</button>'
        ], () => {
            $('.barcode_in').each(function () {
                code = $(this).text();
                if (code == '0') {
                    $(this).html($('<p class="m-0">No Barcode</p>'));
                } else {
                    $(this).html($('<p class="m-0"><canvas></p>'));
                    $(this).find('canvas').JsBarcode(code, {
                        height: 30,
                        margin: 2
                    });
                }
            });
        });
    }
</script>

<div class="container-fluid">
    <p class="h3 m-0">List Products</p>
    <hr>
    <div class="card">
        <div class="card-head p-3 d-flex align-items-center justify-content-between border-bottom">
            <p class="h5 m-0"><i class="fa fa-list-alt"></i> Product List</p>
            <div class="d-flex">
                <button class="btn btn-success mr-1" onclick="b_input_modal('Add Product', 'views/product/add.html')">Add Product</button>
                <button class="btn btn-primary" onclick="location.reload()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered"></table>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {
        table_data();

        $('.modal').on('hide.bs.modal', function () {
            table_data();
        })

        $(document).on('click', '[data-product-edit-id]', function () {
            b_edit_modal($(this).attr('data-product-edit-id'), 'Edit Product', 'views/product/edit.html')
        })

        $(document).on('click', '[data-product-delete-id]', function () {
            if (confirm('Are Your Sure Your Want To Delete The Product')) {
                $.ajax({
                    type: "GET",
                    url: './api/product_crud.php?crud=delete&id=' + $(this).attr('data-product-delete-id'),
                    dataType: 'json',
                }).done(function (response) {
                    console.log(response); // show response from the php script.
                    if (response.deleted) {
                        table_data();
                    } else {
                        console.log('error');
                    }
                });
            }
        })
    })

</script>