<script>
    function table_data() {

        autoTable('.table', 'api/checkout_crud.php?crud=select&desc', ['customer'],
            [
                '<button class="btn btn-primary btn-sm text-nowrap mr-1" data-invoice-view-id="$@id@"><i class="fa fa-eye"></i> View</button>',
                '<button class="btn btn-warning btn-sm text-nowrap mr-1" data-invoice-edit-id="$@id@"><i class="fa fa-edit"></i> Edit</button>',
                '<button class="btn btn-danger btn-sm text-nowrap" data-vendor-delete-id="$@id@"><i class="fa fa-times"></i> Delete</button>'
            ], () => { });

        $.each($('.status'), function () {
            if ($(this).text() == '1') {
                console.log($(this).closest('tr').find('[data-invoice-edit-id],[data-vendor-delete-id]').attr('disabled', 'true'));
            }
            $(this).html(($(this).text() == '1') ? '<span class="badge badge-pill badge-success p-2" style="min-width:80px">Locked</span>' : '<span class="badge badge-pill badge-dark p-2" style="min-width:80px">Open</span>');
        })

    }
</script>
<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
        <p class="h3 m-0">Product Checkout</p>
        <button class="btn btn-success create_invoice">Create New Invoice</button>
    </div>
    <hr>
    <div class="card">
        <div class="card-body">
            <div class=" table-responsive">
                <table class="table table-bordered " style="width:100%"></table>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        table_data();



        $('.create_invoice').click(function () {
            localStorage.setItem('invoice_id', 'new');
            if (localStorage.getItem("invoice_id") !== null) {
                console.log('ok');
                screen_loader('checkout/invoice');
            } else {
                console.log('error');
            }
        })

        $(document).on('click', '[data-invoice-view-id]', function () {
            localStorage.setItem('invoice_id', $(this).attr('data-invoice-view-id'));
            if (localStorage.getItem("invoice_id") !== null) {
                console.log('ok');
                screen_loader('checkout/view');
            } else {
                console.log('error');
            }
        })
        $(document).on('click', '[data-invoice-edit-id]', function () {
            localStorage.setItem('invoice_id', $(this).attr('data-invoice-edit-id'));
            if (localStorage.getItem("invoice_id") !== null) {
                console.log('ok');
                screen_loader('checkout/invoice');
            } else {
                console.log('error');
            }
        })
    })
</script>