<style>
    .form-control[readonly],
    .form-control[readonly]:focus {
        background: transparent;
        outline: 0;
        border: 0;
        box-shadow: 0 0 0;
        min-width: 100px;
    }

    td,
    th {
        padding: 5px;
    }
</style>
<div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex">
            <p class="h3 m-0 mr-3">Checkout Invoice</p>
            <span class="badge badge-primary badge-sm text-capitalize">
                <input type="text" style="width: 50px;" class=" text-center form-control form-control-sm text-light font-weight-bold" readonly name="invoice_id">
            </span>
        </div>
        <div class="d-flex">
            <button class="btn btn-primary mr-2"><i class="fa fa-print"></i> Print</button>
            <button class="btn btn-danger exit_invoice" type="button"><i class="fa fa-times"></i></button>
        </div>
    </div>
    <hr>
    <div class="p-3 print-holder">
        <div class="print-view">
            <div class="print-content" id="section-to-print">

            </div>
            <script>
                $('.print-content').load('views/checkout/print.html', 'f' + (Math.random() * 1000000));
            </script>
        </div>
    </div>
</div>

<script> // exit invoice
    $('.exit_invoice').click(function () {
        localStorage.removeItem('invoice_id');
        if (localStorage.getItem("invoice_id") === null) {
            screen_loader('checkout/list');
        } else {
            console.log('error');
        }
    })
</script>