<script>
    function table_data() {

        $.ajax({
            url: 'http://localhost/evyapaar/api/table.php?select=due',
            type: "POST", data: { desc: 'id' }, async: false, cache: false, dataType: 'json'
        }).done(function (response) {
            data = response.query.data;

            data.forEach(el => {
                el.type = (el.type == 'checkout') ? '<span class="badge badge-info px-3 py-2 ">Checkout</span>' : '<span class="badge badge-dark px-3 py-2">Purchase</span>';
                el.status = (el.status == '0') ? '<span class="badge badge-warning px-3 py-2" data-status="0">Pending</span>' : '<span class="badge badge-success px-3 py-2" data-status="1">Cleared</span>';
            });

            autoTable('.table', data, ['domain'], [
                '<button class="btn btn-primary btn-sm text-nowrap mr-1" data-due-pay-id="$@id@"><i class="fa fa-money"></i> Pay</button>'
            ], () => {

                $('[data-status]').each(function () {
                    tr = $(this).closest('tr');
                    pay = $(this).attr('data-status');
                    if (pay == '1') {
                        tr.find('[data-due-pay-id]').attr('disabled', 'true')
                    }
                });
            });

        });



    }
</script>

<div class="container-fluid">
    <p class="h3 m-0">Due List</p>
    <hr>
    <div class="card">
        <div class="card-head p-3 d-flex align-items-center justify-content-between border-bottom">
            <p class="h5 m-0"><i class="fa fa-list-alt"></i> Due List</p>
            <div class="d-flex">
                <button class="btn btn-primary" onclick="location.reload()"><i class="fa fa-refresh"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class=" table-responsive">
                <table class="table data-table table-bordered " style="width:100%"></table>
            </div>
        </div>
    </div>
</div>
<script>

    $(document).ready(function () {

        table_data();

        $(document).on('click', '[data-due-pay-id]', function () {
            console.log('due');
        })



    })

</script>