<table cellspacing=0 cellpadding=0 style="border-collapse:collapse;border:none;">
    <tr>
        <td colspan=11 style="width:750pt;border:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt">
            <p style="margin-bottom:0in;text-align:center;line-height:normal"><span style="font-size:9.0pt">TAX INVOICE</span></p>
            <p style="margin-bottom:0in;text-align:center;line-height:normal"><span style="font-size:9.0pt">CREDIT MEMO</span></p>
        </td>
    </tr>
    <tr style="height:14.2pt">
        <td colspan=7 rowspan=7 style="width:319.15pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:14.2pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Buyers Name</span></p>
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">ORGANIKO</span></p>
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">A/P KAPIL, TAL KARAD, DISST SATARA</span></p>
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">8485863406</span></p>
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">State: Maharashtra<span> </span>State Code: 27</span></p>
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">GST IN: -</span></p>
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Place of Supp : </span></p>
        </td>
        <td colspan=4 style="width:175.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:14.2pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Invoice No.<span>
                    </span>:<span> </span>94</span></p>
        </td>
    </tr>
    <tr style="height:13.9pt">
        <td colspan=4 style="width:175.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.9pt">
            <p style="margin-bottom:0in;line-height:normal">
                <span style="font-size:9.0pt">Date<span></span>:<span></span>08-06-2020</span>
            </p>
        </td>
    </tr>
    <tr style="height:13.9pt">
        <td colspan=4 style="width:175.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.9pt">
            <p style="margin-bottom:0in;line-height:normal">
                <span style="font-size:9.0pt">Challan No<span></span>:<span> </span>94</span></p>
        </td>
    </tr>
    <tr style="height:13.9pt">
        <td colspan=4 style="width:175.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.9pt">
            <p style="margin-bottom:0in;line-height:normal">
                <span style="font-size:9.0pt">Challan Date<span></span>:<span> </span>08-06-2020</span></p>
        </td>
    </tr>
    <tr style="height:13.9pt">
        <td colspan=4 style="width:175.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.9pt">
            <p style="margin-bottom:0in;line-height:normal">
                <span style="font-size:9.0pt">P.O. No.<span></span>:<span> </span>92</span></p>
        </td>
    </tr>
    <tr style="height:13.9pt">
        <td colspan=4 style="width:175.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.9pt">
            <p style="margin-bottom:0in;line-height:normal">
                <span style="font-size:9.0pt">Vehicle No.<span></span>:<span> </span> </span></p>
        </td>
    </tr>
    <tr style="height:13.9pt">
        <td colspan=4 style="width:175.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.9pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Dt &amp; Time Supp :</span></p>
        </td>
    </tr>
    <tr style="height:13.4pt">
        <td style="width:26.2pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.4pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Sr.</span></p>
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">No.</span></p>
        </td>
        <td colspan=4 style="width:189.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.4pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Particulars</span></p>
        </td>
        <td colspan=2 style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.4pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">HSN</span></p>
        </td>
        <td style="width:31.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.4pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">QTY</span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.4pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">RATE</span></p>
        </td>
        <td style="width:27.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.4pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">GST %</span></p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.4pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Amount</span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td style="width:26.2pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">1</span></p>
        </td>
        <td colspan=4 style="width:189.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Title</span></p>
        </td>
        <td colspan=2 style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">45131</span></p>
        </td>
        <td style="width:31.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">60.00</span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">200.00</span></p>
        </td>
        <td style="width:27.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">5</span></p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">12001.20</span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td style="width:26.2pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=4 style="width:189.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=2 style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:31.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:27.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td style="width:26.2pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=4 style="width:189.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=2 style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:31.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:27.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td style="width:26.2pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=4 style="width:189.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=2 style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:31.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:27.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td style="width:26.2pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=4 style="width:189.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=2 style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:31.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:27.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td style="width:26.2pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=4 style="width:189.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=2 style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:31.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:27.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td style="width:26.2pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=4 style="width:189.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=2 style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:31.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:27.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td style="width:26.2pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=4 style="width:189.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=2 style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:31.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:27.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td style="width:26.2pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=4 style="width:189.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=2 style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:31.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:27.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td style="width:26.2pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=4 style="width:189.45pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=2 style="width:103.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:31.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:27.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td style="width:63.0pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:17.85pt">
        <td colspan=7 rowspan=3 style="width:319.15pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:17.85pt">
            <p style="margin-bottom:0in;line-height:9.5pt"><span style="font-size:7.0pt">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas illo culpa suscipit quae dolore reprehenderit molestiae nobis ea repellat! Cumque, eos magnam. Ad porro, praesentium alias ratione iste veritatis suscipit. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quas illo culpa suscipit quae dolore reprehenderit molestiae nobis ea repellat! Cumque, eos magnam. Ad porro, praesentium alias ratione iste veritatis suscipit.</span><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=2 style="width:85.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.85pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Sub Total :</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.85pt">
            <p style="margin-bottom:0in;text-align:right;line-height:normal"><span style="font-size:9.0pt">26722.40</span></p>
        </td>
    </tr>
    <tr style="height:17.85pt">
        <td colspan=2 style="width:85.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.85pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Discount :</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.85pt">
            <p style="margin-bottom:0in;text-align:right;line-height:normal"><span style="font-size:9.0pt">0</span></p>
        </td>
    </tr>
    <tr style="height:17.85pt">
        <td colspan=2 style="width:85.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.85pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">NET TOTAL :</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:17.85pt">
            <p style="margin-bottom:0in;text-align:right;line-height:normal"><span style="font-size:9.0pt">26722.40</span></p>
        </td>
    </tr>
    <tr style="height:13.05pt">
        <td colspan=2 style="width:53.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.05pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">Tax A/c</span></p>
        </td>
        <td style="width:80pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.05pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">Taxable Amount</span></p>
        </td>
        <td style="width:80pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.05pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">GST Amount</span></p>
        </td>
        <td style="width:30pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.05pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:68pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.05pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">SGST</span></p>
        </td>
        <td style="width:68pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.05pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">CGST</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.05pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Transport :</span></p>
        </td>
        <td colspan=2 style="width:95.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.05pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td colspan=2 style="width:53.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">GST @0%</span></p>
        </td>
        <td style="width:1.0in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:58.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:40.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">0 %</span></p>
        </td>
        <td style="width:49.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td colspan=2 style="width:85.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Loading :</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td colspan=2 style="width:53.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">GST @05%</span></p>
        </td>
        <td style="width:1.0in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:58.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:40.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">2.5 %</span></p>
        </td>
        <td style="width:49.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td colspan=2 style="width:85.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">SGST :</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td colspan=2 style="width:53.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">GST @12%</span></p>
        </td>
        <td style="width:1.0in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:58.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:40.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">06 %</span></p>
        </td>
        <td style="width:49.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td colspan=2 style="width:85.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">CGST :</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td colspan=2 style="width:53.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">GST @18%</span></p>
        </td>
        <td style="width:1.0in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:58.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:40.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">09 %</span></p>
        </td>
        <td style="width:49.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td colspan=2 style="width:85.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">IGST :</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td colspan=2 style="width:53.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">GST @28%</span></p>
        </td>
        <td style="width:1.0in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:58.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:40.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">14 %</span></p>
        </td>
        <td style="width:49.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td colspan=2 style="width:85.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Grand Total :</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td colspan=2 style="width:53.65pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;">Total</span></p>
        </td>
        <td style="width:1.0in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:58.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:40.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:49.5pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td style="width:.75in;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt;"> </span></p>
        </td>
        <td colspan=2 style="width:85.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Cash In Advance :</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;text-align:right;line-height:normal"><span style="font-size:9.0pt">0.00</span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td colspan=7 style="width:319.15pt;border:solid windowtext 1.0pt;border-top:none;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
        <td colspan=2 style="width:85.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Balance Amount :</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;text-align:right;line-height:normal"><span style="font-size:9.0pt">270903.00</span></p>
        </td>
    </tr>
    <tr style="height:13.0pt">
        <td colspan=9 style="width:404.4pt;border-top:none;border-left:solid windowtext 1.0pt;border-bottom:solid windowtext 1.0pt;border-right:solid white 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt">Rs. Thousand</span></p>
        </td>
        <td colspan=2 style="width:90.25pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0in 5.4pt 0in 5.4pt;height:13.0pt">
            <p style="margin-bottom:0in;line-height:normal"><span style="font-size:9.0pt"> </span></p>
        </td>
    </tr>
</table>